<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
        function remove(element) {
            element.parentElement.parentElement.remove()
        }
    </script>
    <title>Directions</title>
  </head>
  <body>
    <table id='directions'>
        {% for dir in directions %}
        <tr>
            <td>{{ dir }}</td>
            <td><input type="button" value="X" onclick="remove(this)"></td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>