<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="demo.js"></script>
    <title>Find Flight</title>
  </head>
  <body>
    <h1>Search For Your Flight</h1>
    <br>
    <input type="text" id="flightno">
    <input type="button" value="Submit" onclick="searchFlightNo()">
    <br>
    <br>
    <table id="result" style="visibility:hidden;">
        <tr>
            <th>Flight</th>
            <th>Destination</th>
            <th>Gate</th>
            <th>Status</th>
        </tr>
        <tr>
            <td id="rf"></td>
            <td id="rd"></td>
            <td id="rg"></td>
            <td id="rs"></td>
            <td>
                <input type="button" value="Select" onclick="getNavigation()">
            </td>
        </tr>
    </table>
  </body>
</html>